<div class="card-body">
<h1>Stupid Coaching</h1>
<form action="/answer" data-turbo="false">
  <input class="form-control" type="text" name="question">
  <input class="btn btn-primary mb-2" type="submit" value="Ask!">
</form>
</div>
